{{#if checkTrustLevels}}
  {{#if site.mobileView}}
      <div class="revive-ad-label" style={{adTitleStyleMobile}}><h2>ADVERTISEMENT</h2></div>
      <div class="revive-ad-content" style={{adWrapperStyleMobile}}>
          <ins class="adsbygoogle"
               style={{adInsStyleMobile}}
                       data-revive-zoneid="{{zone_id}}"
               data-revive-id={{ad_mobile_code}}>
          </ins>

          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      </div>
  {{else}}
      <div class="google-adsense-label"><h2>ADVERTISEMENT</h2></div>
      <div class="google-adsense-content" style={{adWrapperStyle}}>
          <ins class="adsbygoogle"
               style={{adInsStyle}}
                       data-revive-zoneid="{{zone_id}}"
               data-revive-id={{ad_mobile_code}}>
          </ins>

          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
      </div>
  {{/if}}
{{/if}}
